.container {
  display: flex;
  flex-direction: column;
}
.header {
  color: white;
  font-size: 5em;
  text-align: center;
  width: 100%;
}
.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.index {
  color: white;
  font-size: 6em;
  width: 150px;
  text-align: center;
}
.songComponent {
  width: 50vw;
}
.songComponentTrackInfo {
  min-width: 40vw;
}

@media only screen and (max-width: 350px) {
  .song {
    flex-direction: column;
  }
  .header {
    font-size: 3em;
    margin-top: 60px;
  }
  .songComponent {
    width: 80vw;
  }
}

@media only screen and (min-width: 351px) {
  .song {
    flex-direction: column;
  }
  .header {
    font-size: 4em;
    margin-top: 60px;
  }
  .songComponent {
    width: 80vw;
  }
}

@media only screen and (min-width: 600px) {
  .song {
    flex-direction: column;
  }
  .header {
    font-size: 4em;
  }
  .songComponent {
    width: 40vw;
  }
  .songComponentTrackInfo {
    min-width: 30vw;
  }
}

@media only screen and (min-width: 768px) {
  .song {
    flex-direction: row;
  }
  .header {
    font-size: 4.5em;
    margin-top: 60px;
    margin-right: 20px;
  }
  .songComponent {
    width: 40vw;
  }
  .songComponentTrackInfo {
    min-width: 30vw;
  }
}

@media only screen and (min-width: 1200px) {
  .song {
    flex-direction: row;
  }
  .header {
    font-size: 5em;
    margin-top: 0px;
  }
  .songComponent {
    width: 55vw;
  }
  .songComponentTrackInfo {
    min-width: 45vw;
  }
}
