.container {
  display: flex;
  flex-direction: column;
}
.header {
  color: white;
  font-size: 5em;
  text-align: center;
  width: 100%;
}
.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topListElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.index {
  color: white;
  font-size: 6em;
  width: 150px;
  text-align: center;
}
.songComponent {
  width: 50vw;
}
.artistComponent {
  width: 50vw;
}
.artistComponentArtistName {
  min-width: 40vw;
}

.songComponentTrackInfo {
  min-width: 40vw;
}

.onceAgain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.whiteSpace {
  margin-bottom: 150px;
  width: 100%;
}

.onceAgainButton {
  background-color: #0db850;
  margin: 30px;
  border: none;
  color: white;
  width: 40%;
  height: 80px;
  font-size: 3em;
  border-radius: 5px;
  transition: background-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onceAgainButton:hover {
  cursor: pointer;
  background-color: #0b9241;
}
.onceAgainButton:active {
  background-color: #07662d;
}

.playerDiv {
  width: 100%;
}

@media only screen and (max-width: 350px) {
  .topListElement {
    flex-direction: column;
  }
  .header {
    font-size: 3em;
    margin-top: 60px;
  }
  .songComponent {
    width: 80vw;
  }
  .onceAgainButton {
    width: 80%;
  }
  .onceAgainButtonText {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 351px) {
  .topListElement {
    flex-direction: column;
  }
  .header {
    font-size: 4em;
    margin-top: 60px;
  }
  .songComponent {
    width: 80vw;
  }
  .onceAgainButton {
    width: 80%;
  }
  .onceAgainButtonText {
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) {
  .topListElement {
    flex-direction: column;
  }
  .header {
    font-size: 4em;
  }
  .songComponent {
    width: 40vw;
  }
  .songComponentTrackInfo {
    min-width: 30vw;
  }
  .onceAgainButton {
    width: 80%;
  }
  .onceAgainButtonText {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .topListElement {
    flex-direction: row;
  }
  .header {
    font-size: 4.5em;
    margin-top: 60px;
    margin-right: 20px;
  }
  .songComponent {
    width: 40vw;
  }
  .songComponentTrackInfo {
    min-width: 30vw;
  }
  .onceAgainButton {
    width: 50%;
  }
  .onceAgainButtonText {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .topListElement {
    flex-direction: row;
  }
  .header {
    font-size: 5em;
    margin-top: 0px;
  }
  .songComponent {
    width: 55vw;
  }
  .songComponentTrackInfo {
    min-width: 45vw;
  }
  .onceAgainButton {
    width: 40%;
  }
}
