.artistContainer {
  display: flex;
  min-width: min-content;
  max-width: 90vw;
  min-height: 150px;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.cover {
  background-color: rgb(59, 59, 59); /* In case cover didn't load */
  width: 140px;
  height: 140px;
  margin-right: 10px;
}
.cover img {
  width: 140px;
  height: 140px;
}
.artistName {
  height: 100%;
  display: flex;
  margin-left: 5px;
}

.artistNameText {
  color: white;
  font-size: 3em;
  text-align: left;
}

.playButtons {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  flex-direction: row;
}
.iconButton {
  color: white;
  font-size: 3em;
  margin: 10px;
  transition: 0.25s;
  cursor: pointer;
}

.youTubeIcon:hover {
  color: #ff0000;
}
.youTubeIcon:active {
  color: #c50101;
}

.spotifyIcon:hover {
  color: #1db954;
}
.spotifyIcon:active {
  color: #179242;
}

@media only screen and (max-width: 600px) {
  .artistContainer {
    flex-direction: column;
  }
  .artistNameText {
    font-size: 2em;
  }
  .playButtons {
    justify-content: center;
  }
}
