.songContainer {
  display: flex;
  min-width: min-content;
  max-width: 90vw;
  min-height: 150px;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.cover {
  background-color: rgb(59, 59, 59); /* In case cover didn't load */
  width: 140px;
  height: 140px;
  margin-right: 10px;
}
.cover img {
  width: 140px;
  height: 140px;
}
.trackInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
}
.titleAndAuthor {
  min-height: 50%;
  height: min-content;
  display: flex;
  flex-direction: column;
  color: white;
}
.title {
  font-size: 2em;
}
.author {
  font-size: 1.2em;
}
.trackLength {
  height: 50px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.playButtons {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.iconButton {
  color: white;
  font-size: 3em;
  margin: 10px;
  transition: 0.25s;
  cursor: pointer;
}
.playIcon:hover {
  color: #2e69ff;
}
.playIcon:active {
  color: #1e4dc4;
}

.youTubeIcon:hover {
  color: #ff0000;
}
.youTubeIcon:active {
  color: #c50101;
}

.spotifyIcon:hover {
  color: #1db954;
}
.spotifyIcon:active {
  color: #179242;
}

@media only screen and (max-width: 600px) {
  .songContainer {
    flex-direction: column;
  }
  .title {
    font-size: 1.5em;
  }
  .author {
    font-size: 1em;
  }
  .trackLength {
    font-size: 1.5em;
  }
}
